<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Gaussian Web Application</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- Syncfusion ASP.NET MVC controls styles -->
	<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/32.1.19/fluent.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/GaussianMVC.styles.css" asp-append-version="true" />
	<script type="importmap"></script>
	<!-- Syncfusion ASP.NET MVC controls scripts -->
	<script src="https://cdn.syncfusion.com/ej2/32.1.19/dist/ej2.min.js"></script>
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Gaussian Web Application</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Error">Error</a>
						</li>
						@if (User.Identity?.IsAuthenticated == true)
						{
							<li class="nav-item dropdown">
								<a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									Setup
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item text-dark" asp-area="" asp-controller="CalculationTypes" asp-action="Index">Calculation Types</a></li>
									<li><a class="dropdown-item text-dark" asp-area="" asp-controller="MethodFamilies" asp-action="Index">Method Families</a></li>
									<li><a class="dropdown-item text-dark" asp-area="" asp-controller="BaseMethods" asp-action="Index">Base Methods</a></li>
									<li><a class="dropdown-item text-dark" asp-area="" asp-controller="ElectronicStates" asp-action="Index">Electronic States</a></li>
									<li><a class="dropdown-item text-dark" asp-area="" asp-controller="ElectronicStatesMethodFamilies" asp-action="Index">Electronic State/Method Family Combinations</a></li>
									<li><a class="dropdown-item text-dark" asp-area="" asp-controller="SpinStates" asp-action="Index">Spin States</a></li>
								</ul>
							</li>
						}
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2026 - Pierre J.-L. Plourde & Spartan C# - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<ejs-scripts></ejs-scripts>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
