@{
	ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p class="h2">Gaussian Web Application</p>
<p class="h3">by Pierre J.-L. Plourde &amp; Spartan C#</p>
<p>This C# application &amp; SQL database allow storing and indexing of results of electronic structure calculations performed with the Gaussian series of programs.</p>
<div>
	<p class="h4">For more information:</p>
	<p><a href="https://github.com/Spartan-CSharp/Gaussian2">https://github.com/Spartan-CSharp/Gaussian2</a></p>
</div>