@{
	ViewData["Title"] = "Contact";
	ViewData["Message"] = "Your contact page.";
}
<h1>@ViewData["Title"]</h1>
<h3>@ViewData["Message"]</h3>

<address>
	Pierre J.-L. Plourde<br />
	Spartan C#<br />
	76 Delwood Drive<br />
	Upper Unit<br />
	Scarborough, Ontario, Canada M1L 2S7<br />
	<abbr title="Phone">P:</abbr>
	905.439.7645
</address>

<address>
	<strong>Support:</strong>   <a href="mailto:pierre@spartancsharp.net">pierre@spartancsharp.net</a><br />
	<strong>Marketing:</strong> <a href="mailto:info@spartancsharp.net">info@spartancsharp.net</a>
</address>
