@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<div class="row align-items-start">
		<div class="col">
			<img class="img-fluid m-3" src="~/images/pjlplourde_logo.png" alt="Dogged Determination" asp-append-version="true" />
		</div>
		<div class="col">
			<img class="img-fluid m-3" src="~/images/gaussian_logo.png" alt="Gaussian Inc." asp-append-version="true" />
		</div>
		<div class="col">
			<img class="img-fluid m-3" src="~/images/spartan_csharp_logo.png" alt="Spartan C#" asp-append-version="true" />
		</div>
	</div>
</div>
