@model GaussianMVC.Models.BaseMethodViewModel

@{
	ViewData["Title"] = "Edit Base Method";
}

<h1>Edit</h1>

<h4>Base Method</h4>
<hr />

@if (Model is not null)
{
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<input type="hidden" asp-for="CreatedDate" />
				<input type="hidden" asp-for="LastUpdatedDate" />

				<div class="form-group">
					<label asp-for="Keyword" class="control-label"></label>
					<input asp-for="Keyword" class="form-control" />
					<span asp-validation-for="Keyword" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="MethodFamilyId" class="control-label"></label>
					<select asp-for="MethodFamilyId" asp-items="Model.MethodFamilyList" class="form-control">
						<option value="">-- Select Method Family --</option>
					</select>
					<span asp-validation-for="MethodFamilyId" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="DescriptionHtml" class="control-label"></label>
					<ejs-richtexteditor id="descriptionRTE" ejs-for="DescriptionHtml" value="@Model.DescriptionHtml" class="form-control">
						<e-richtexteditor-toolbarsettings items="@Constants.SyncfusionToolbarItems"></e-richtexteditor-toolbarsettings>
					</ejs-richtexteditor>
					<textarea asp-for="DescriptionHtml" class="form-control"></textarea>
					<span asp-validation-for="DescriptionHtml" class="text-danger"></span>
				</div>

				<div class="form-group form-check">
					<label class="form-check-label">
						<input class="form-check-input" asp-for="Archived" /> @Html.DisplayNameFor(model => model.Archived)
					</label>
				</div>

				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
}
else
{
	<p>No Base Method found with this Id.</p>
}

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
